.collectionsPage {
    padding: 20px;
  }
  
  .collectionList {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .collectionItem {
    cursor: pointer;
    color: #3498db;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    margin-left: 0;
  }
  
  .collectionItem:hover {
    background-color: #f2f2f2;
  }
  